<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <p><a href="/create_post"><button>Create Post</button></a></p>

    <P><a href="/my_post"><button>My Posts</button></a> </P>

    <P><a href="/all_post"><button>All Posts</button></a></P>

    <P><a href="/profile"><button>Profile</button></a></P>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>